.create-post-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.textarea-fixed {
  resize: none;
  margin-bottom: 20px;
  width: 500px;
  height: 100px;
}

.create-post-button {
  margin-top: 10px;
}
